<!--公共左侧导航文件-->

<!--dopool权限-->
<?php if($_SESSION['role']=='1'){ ?>
<ul>
    <li>财务管理</li>
</ul>
<ul>
    <li><a href="/cpreport/index.php/Home/Cpindex/index">CP日报</a></li>
    <li><a href="/cpreport/index.php/Home/Cpindex/cpWeekMonthYear">CP周、月、年报</a></li>
</ul>
<ul>
    <li>dopool</li>
</ul>
<ul>
    <li>频道信息</li>
</ul>

<!--CP权限-->
<?php }elseif($_SESSION['role']=='2'){ ?>
<ul>
    <li><a href="/cpreport/index.php/Home/Cpindex/index">CP日报</a></li>
    <li><a href="/cpreport/index.php/Home/Cpindex/cpWeekMonthYear">CP周、月、年报</a></li>
</ul>
<?php } ?>
